{% extends 'base.html' %}
{% block body %}


<div class="container">
    <div class="row">
        {% for i in movie_list %}
        <div class="col-md-3">
            <div class="card" style="margin:10px">
                <img class="card-img-top" src="{{i.img.url}}" alt="Card image cap" width="250px" height="350px">
                <div class="card-body" style=" height: 34rem " >
                        <h3 class="card-title">{{i.name}}</h3>
                        <p class="card-text">{{i.desc}}</p>
                        <a class="btn btn-warning" href="{% url 'movieapp:detail' i.id %}" >view details</a>

                    </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>



{% endblock %}